<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NMR Spectrum Search Engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css" />

</head>
<body>

<div class="container">
    <h2 class="page-header"><strong>Chemical Shifts</strong></h2>

    <ul class="nav nav-tabs">
        <li th:class="${style=='old'} ? 'active' : ''"><a data-toggle="tab" href="#old">List</a></li>
        <li th:class="${style=='plot'} ? 'active' : ''"><a data-toggle="tab" href="#plot">Plot</a></li>
    </ul>

    <div class="tab-content">
        <div id="old" class="tab-pane fade" th:classappend="${style=='old'} ? 'in active' : '' ">
            <form th:action="@{/}" target="_self" method="get">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <input name="style" value="old" hidden="hidden"/>
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-1 text-center"><strong>Line number</strong></th>
                                <th class="col-md-3 text-center"><strong>Chemical Shift (ppm)</strong></th>
                                <th class="col-md-4 text-center"><strong>Multiplicity</strong></th>
                                <th class="col-md-3 text-center"><strong>Deviation (ppm)</strong></th>
                                <th class="col-md-1 text-center"><strong>Remove</strong></th>
                            </tr>
                            </thead>
                            <tbody id="tableBody">
                            <tr th:each="shift,iter: ${shifts}">
                                <td class="text-center"><p class="text-center form-control-static" th:text="${iter.index + 1}"></p></td>
                                <td class="text-center"><input class="form-control" type="number" name="shift[]" step="0.01" th:value="${shift}"/></td>
                                <td class="text-center">
                                    <select class="selectpicker" name="multiplicity[]">
                                        <option value="any" th:selected="${multiplicities[iter.index] == 'any'}">any</option>
                                        <option value="m" th:selected="${multiplicities[iter.index] == 'm'}">m</option>
                                        <option value="s" th:selected="${multiplicities[iter.index] == 's'}">s</option>
                                        <option value="d" th:selected="${multiplicities[iter.index] == 'd'}">d</option>
                                        <option value="t" th:selected="${multiplicities[iter.index] == 't'}">t</option>
                                        <option value="q" th:selected="${multiplicities[iter.index] == 'q'}">q</option>
                                        <option value="p" th:selected="${multiplicities[iter.index] == 'p'}">p</option>
                                        <option value="h" th:selected="${multiplicities[iter.index] == 'h'}">h</option>
                                        <option value="hept" th:selected="${multiplicities[iter.index] == 'hept'}">hept</option>
                                        <option value="dd" th:selected="${multiplicities[iter.index] == 'dd'}">dd</option>
                                        <option value="td" th:selected="${multiplicities[iter.index] == 'td'}">td</option>
                                        <option value="ddt" th:selected="${multiplicities[iter.index] == 'ddt'}">ddt</option>
                                        <option value="ddd" th:selected="${multiplicities[iter.index] == 'ddd'}">ddd</option>
                                    </select>
                                </td>
                                <td class="text-center"><input class="form-control" type="number" name="deviation[]" step="0.01" th:value="${deviations[iter.index]}"/></td>
                                <td class="text-center"><button type="button" class="btn btn-danger btn-sm" onclick="remove(this)"><span class="fa fa-times"></span></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <button type="button" class="btn btn-success btn-block" onclick="add()">Add Chemical Shift</button>
                    </div>
                </div>
                <div class="help-block"></div>
                <div class="row">
                    <div class="text-center col-md-offset-1 col-md-10">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="plot" class="tab-pane fade" th:classappend="${style=='plot'} ? 'in active' : '' ">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <!-- ?bokeh-session-id='+${bokehSessionID} -->
                        <iframe id="bokehIframe" th:src="'http://localhost:5006/ui-tool?'+${query}" width="810" height="610" frameBorder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:unless="${#lists.isEmpty(compounds)}">
        <br/>
        <th:block th:each="compound, iter: ${compounds}">
            <div th:if="${iter.index % 4 == 0}" class="row">
                <div th:if="${#lists.size(compounds) &gt; iter.index}" class="col-md-3" th:utext="${compounds[iter.index].getImage()}" th:onclick="'drawCompound('+${compounds[iter.index].getId()}+');'"></div>
                <div th:if="${#lists.size(compounds) &gt; (iter.index + 1)}" class="col-md-3" th:utext="${compounds[iter.index+1].getImage()}" th:onclick="'drawCompound('+${compounds[iter.index+1].getId()}+');'"></div>
                <div th:if="${#lists.size(compounds) &gt; (iter.index + 2)}" class="col-md-3" th:utext="${compounds[iter.index+2].getImage()}" th:onclick="'drawCompound('+${compounds[iter.index+2].getId()}+');'"></div>
                <div th:if="${#lists.size(compounds) &gt; (iter.index + 3)}" class="col-md-3" th:utext="${compounds[iter.index+3].getImage()}" th:onclick="'drawCompound('+${compounds[iter.index+3].getId()}+');'"></div>
            </div>
        </th:block>
    </div>

</div>

<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var lineNumber = /*[[${#lists.size(shifts) + 1}]]*/ 1;
    /*]]>*/
</script>

<script type="text/javascript">
    function add() {
        $('#tableBody').append(
            '<tr>' +
            '<td class="text-center"><p class="text-center form-control-static">'+lineNumber+'</p></td>' +
            '<td class="text-center"><input class="form-control" type="number" name="shift[]" step="0.01"/></td>' +
            '<td class="text-center">' +
                '<select class="selectpicker" name="multiplicity[]">' +
                    '<option value="any">any</option>' +
                    '<option value="m">m</option>' +
                    '<option value="s">s</option>' +
                    '<option value="d">d</option>' +
                    '<option value="t">t</option>' +
                    '<option value="q">q</option>' +
                    '<option value="p">p</option>' +
                    '<option value="h">h</option>' +
                    '<option value="hept">hept</option>' +
                    '<option value="dd">dd</option>' +
                    '<option value="td">td</option>' +
                    '<option value="ddt">ddt</option>' +
                    '<option value="ddd">ddd</option>' +
                '</select>' +
            '</td>' +
            '<td class="text-center"><input class="form-control" type="number" name="deviation[]" step="0.01"/></td>' +
            '<td class="text-center"><button type="button" class="btn btn-danger btn-sm" onclick="remove(this)"><span class="fa fa-times"></span></button></td>' +
            '</tr>'
        );
        lineNumber++;
        $('.selectpicker').selectpicker();
    }

    function drawCompound(id) {
        $('#bokehIframe')[0].contentWindow.postMessage({'id': id}, '*');
        $('.nav-tabs a[href="#plot"]').tab('show');
    }

    function remove(el) {
        var row = $(el).parent().parent();

        recalculateLineNumbers(row.next());
        row.remove();
        lineNumber--;
    }

    function recalculateLineNumbers(el) {
        while(el[0]) {
            var child = el.children(":first").children(":first");
            child.html(parseInt(child.html()) - 1);

            el = el.next();
        }
    }


    $(function () {
        $('.selectpicker').selectpicker();
        if(lineNumber === 1) {
            add();
        } else {
            $('.selectpicker').selectpicker();
        }
    });
</script>
</body>
</html>