backports-abc==0.5
bokeh==0.12.14
futures==3.2.0
Jinja2==2.10
MarkupSafe==1.0
nmrglue==0.6
numpy==1.14.2
packaging==17.1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
PyYAML==3.12
scipy==1.0.1
singledispatch==3.4.0.3
six==1.11.0
tornado==5.0.1
