<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NMR Spectrum Viewer</title>
    {{ bokeh_css }}
    {{ bokeh_js }}
    <style>
        {% include 'style.css' %}
    </style>
    <link rel="stylesheet" href="nmr-spectrum/static/css/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="nmr-spectrum/static/js/jquery.contextMenu.min.js"></script>
  </head>
  <body>
    <div class="content select_pick_peaking">
      {{ plot_div|indent(8) }}
    </div>
    {{ plot_script|indent(8) }}

    <script type="text/javascript">
        oldLog = console.log;
        console.log = function (message) {
            if(message.localeCompare('Bokeh items were rendered successfully') == 0){
                console.log = oldLog;

                $('div[title="Multiplet Analysis"]').click(function() {
                    $('span:contains("Multiplet Analysis")').click();
                });
                $('div[title="Peak Picking"]').click(function() {
                    $('span:contains("Peak Picking")').click();
                });
                $('div[title="Peak By Peak"]').click(function() {
                    $('span:contains("Peak Picking")').click();
                });
                $('div[title="Reference"]').click(function() {
                    $('span:contains("Reference")').click();
                });
                $('div[title="Integration (x-axis)"]').click(function() {
                    $('span:contains("Integration")').click();
                });
            }
            oldLog.apply(console, arguments);
        };
        $(function() {
            $.contextMenu({
                selector: '.select_pick_peaking',
                callback: function(key, options) {
                    switch(key){
                    case 'reference':
                        $('span:contains("Reference")').click();
                        $('button:contains("Set Reference")').click();
                        break;
                    case 'peakPicking':
                        $('span:contains("Peak Picking")').click();
                        $('button:contains("Manual Peaks")').click();
                        break;
                    case 'integration':
                        $('span:contains("Integration")').click();
                        $('button:contains("Manual Integration")').click();
                        break;
                    case 'clear':
                        $('button').filter(':contains("Clear Selected Area")').each(function() {
                            $(this).click();
                        })
                        break;
                    }
                },
                items: {
                    "reference": {name: "Set Reference"},
                    "peakPicking": {name: "Manual Peak Picking", icon: "peak_picking"},
                    "integration": {name: "Manual Integration", icon: "integration"},
                    "clear": {name: "Clear Selected Areas"}
                }
            });
        });
    </script>
  </body>
</html>
