<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NMR Spectrum Viewer</title>
    {{ bokeh_css }}
    {{ bokeh_js }}
    <style>
        {% include 'style.css' %}
    </style>
    <link rel="stylesheet" href="nmr-spectrum/static/css/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="nmr-spectrum/static/js/jquery.contextMenu.min.js"></script>
  </head>
  <body>
    <div class="content select_pick_peaking">
      {{ plot_div|indent(8) }}
    </div>
    {{ plot_script|indent(8) }}

    <script type="text/javascript">
        oldLog = console.log;
        console.log = function (message) {
            if(message.localeCompare && message.localeCompare('Bokeh items were rendered successfully') == 0){
                console.log = oldLog;

                $('div[title="Multiplet Analysis"]').click(function() {
                    $('span:contains("Multiplet Analysis")').click();
                });
                $('div[title="Peak Picking"]').click(function() {
                    $('span:contains("Peak Picking")').click();
                });
                $('div[title="Peak By Peak"]').click(function() {
                    $('span:contains("Peak Picking")').click();
                });
                $('div[title="Reference"]').click(function() {
                    $('span:contains("Reference")').click();
                });
                $('div[title="Integration (x-axis)"]').click(function() {
                    $('span:contains("Integration")').click();
                });
            }
            oldLog.apply(console, arguments);
        };

        $(function() {
            $.contextMenu({
                selector: '.select_pick_peaking',
                callback: function(key, options) {
                    switch(key){
                    case 'reference':
                        $('div[title="Reference"]').click();
                        break;
                    case 'peakPicking':
                        $('div[title="Peak Picking"]').click();
                        break;
                    case 'peakByPeak':
                        $('div[title="Peak By Peak"]').click();
                        break;
                    case 'integration':
                        $('div[title="Integration (x-axis)"]').click();
                        break;
                    }
                },
                items: {
                    "reference": {name: "Set Reference"},
                    "peakPickingGroup": {
                        name: "Peak Picking",
                        items: {
                            "peakPicking": {name: "Peak Picking By Threshold", icon: "peak_picking"},
                            "peakByPeak": {name: "Peak By Peak", icon: ""}
                        }
                    },
                    "integration": {name: "Manual Integration", icon: "integration"}
                }
            });
        });
    </script>
  </body>
</html>
