<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NMR Spectrum Viewer</title>
    {{ bokeh_css }}
    {{ bokeh_js }}
    <style>
        {% include 'style.css' %}
    </style>
    <link rel="stylesheet" href="nmr-spectrum/static/css/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="nmr-spectrum/static/js/jquery.contextMenu.min.js"></script>
  </head>
  <body>
    <div class="content">
      {{ plot_div|indent(8) }}
    </div>
      {{ plot_script|indent(8) }}

    <script type="text/javascript">
        oldLog = console.log;
        console.log = function (message) {
            if(message.localeCompare && message.localeCompare('Bokeh items were rendered successfully') == 0){
                console.log = oldLog;

                $('div[title="Reference"]').click(function() {
                    Bokeh.documents[0].get_model_by_id('tabs').active = 0;
                });
                $('div[title="Peak Picking By Threshold"]').click(function() {
                    Bokeh.documents[0].get_model_by_id('tabs').active = 1;
                });
                $('div[title="Peak By Peak"]').click(function() {
                    Bokeh.documents[0].get_model_by_id('tabs').active = 1;
                });
                $('div[title="Integration (x-axis)"]').click(function() {
                    Bokeh.documents[0].get_model_by_id('tabs').active = 2;
                });
                $('div[title="Multiplet Analysis"]').click(function() {
                    Bokeh.documents[0].get_model_by_id('tabs').active = 3;
                });

                $(function() {
                    $.contextMenu({
                        selector: '.bk-plot-wrapper',
                        callback: function(key, options) {
                            switch(key){
                            case 'reference':
                                $('div[title="Reference"]').click();
                                break;
                            case 'peakPicking':
                                $('div[title="Peak Picking By Threshold"]').click();
                                break;
                            case 'peakByPeak':
                                $('div[title="Peak By Peak"]').click();
                                break;
                            case 'integration':
                                $('div[title="Integration (x-axis)"]').click();
                                break;
                            case 'multipletAnalysis':
                                $('div[title="Multiplet Analysis"]').click();
                                break;
                            case 'deselect':
                                $('button:contains("Deselect")').click()
                                break;
                            }
                        },
                        items: {
                            "reference": {name: "Set Reference", icon: "reference"},
                            "peakPickingGroup": {
                                name: "Peak Picking",
                                items: {
                                    "peakPicking": {name: "Peak Picking By Threshold", icon: "peak_picking"},
                                    "peakByPeak": {name: "Peak By Peak", icon: "peak_by_peak"}
                                }
                            },
                            "integration": {name: "Manual Integration", icon: "integration"},
                            "multipletAnalysis": {name: "Multiplet Analysis", icon: "multiplet_analysis"},
                            "deselect": {name: "Deselect Data", icon: ""}
                        }
                    });
                });

                $('rect').width(0);
                $('svg').draggable();
                $('svg').css('z-index', 9999999);
                $('svg').hover(function() {
                    $(this).css('cursor','pointer');
                });
            }
            oldLog.apply(console, arguments);
        };
    </script>
  </body>
</html>
